fastapi
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
motor
pymongo
pytesseract
Pillow
opencv-python-headless
PyMuPDF
python-dotenv
pydantic[email]
pydantic-settings
aiofiles
httpx
